# version: '3.8'

services:
  #MySQL DB
  mysql:
    image: mysql:8.0
    container_name: whiteboard-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: khanh2765
      MYSQL_DATABASE: whiteboard
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
  #Redis cache
  redis:
    image: redis:7-alpine
    container_name: whiteboard-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  mysql-data:
  redis-data:
